body{
	margin:0px;
	margin-top:-16px;
	background-color:#f8ecf2;
}
.menu li{
	float:left;
}
.top{ 
    background-color:black;
	text-align: left;
	font: 100%/2 "StileCon-Regular";
	margin: 0px;
	padding: 0px;
}
.pic{
	background-color:#f8ecf2;
	margin-top:-16px;
	overflow:hidden;
}
#slidePic{
	margin-left:-40px;
	margin-bottom:-16px;
	margin-top:-16px;
	height:800px;
	background-repeat:no-repeat;
	background-size:cover;
}
#rightArrow{
	cursor:pointer;
	height:50px;
	width:50px;
	position:relative;
	margin-top:-420px;
	float:right;
	transform: rotate(180deg);
}
#leftArrow{
	cursor:pointer;
	height:50px;
	width:50px;
	position:relative;
	margin-top:-420px;
	float:left;
}
.dot{
	text-align:center;
	position:relative;
	margin-bottom:25px;
}
.dot img{
	cursor:pointer;
	margin-right:10px;
	height:20px;
	width:20px;
}
